//顏色設定

$main-color:#87caa2;
$sec-color:#9ad4e4;
$bg-light-color:#f5f5ef;
$text-color:#483c23;

.bg-main{
    background-color:$main-color;
}
.bg-sec{
    background-color:$sec-color;
}

.bg-ac-light{ 
    background-color: $bg-light-color !important;
}