<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/all.css">
    <title>ACNH Museum Checklist</title>
</head>

<body>
    <header class="text-center py-5 mb-3">
        <h1>動物森友會<br>博物館收藏清單</h1>
    </header>
    <!-- 切換品項 -->

    <div id="app">
        <div class="container">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">美術品</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="#">昆蟲</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="#">魚類</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="#">海洋生物</a>
                    </li>
                </ul>
            </nav>
            <main role='main'>
                <!-- 搜尋功能 -->
                <div class="d-flex justify-content-center">
                    <input class="my-5 px-3" placeholder="我想找..." type="text" v-model.trim="search">
                </div>
                <div v-if="filterItem == 0" class="row">
                    <div class="col-md-4 col my-5 d-flex justify-content-center" v-for="item in artData" :key="item.id">
                        <div class="card border-0">
                            <img :data-src='item.image_uri' class="card-img-top lazyload"
                                :class="{'bg-donated': item.donated }">
                            <div class="card-body bg-light p-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center">
                                            <h5>{{item["name"]["name-TWzh"]}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-2">
                                        <div class="row">
                                                <!-- 贗品有無 -->
                                                <div class="col-6  text-center">
                                                    <i v-if="item.hasFake"
                                                        class="fas fa-exclamation-triangle text-danger h5"></i>
                                                </div>
                                                <div class="col-6 text-center"><a href="#" @click.prevent="donate(item.id)"
                                                        class="owl" :class="{'text-donated': item.donated}"><i
                                                            class="fas fa-landmark"></i></a>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="filterItem != 0" class="row">
                    <div class="col-md-4 col my-5 d-flex justify-content-center" v-for="item in filterItem" :key="item.id">
                        <div class="card border-0">
                            <img :data-src='item.image_uri' class="card-img-top lazyload"
                                :class="{'bg-donated': item.donated }">
                            <div class="card-body bg-light p-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center">
                                            <h5>{{item["name"]["name-TWzh"]}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-2">
                                        <div class="row">
                                                <!-- 贗品有無 -->
                                                <div class="col-6  text-center">
                                                    <i v-if="item.hasFake"
                                                        class="fas fa-exclamation-triangle text-danger h5"></i>
                                                </div>
                                                <div class="col-6 text-center"><a href="#" @click.prevent="donate(item.id)"
                                                        class="owl" :class="{'text-donated': item.donated}"><i
                                                            class="fas fa-landmark"></i></a>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>
    <footer class=" bg-light mt-5 pt-3 pb-1 ">
        <div class="container text-center d-flex justify-content-between">
            <div>
                <h3>Thanks to <a href="http://acnhapi.com/">ACNH API</a></h3>
            </div>
            <div>
                <h3>Contact Us<a href="https://github.com/cybertomatochan" class="ml-3"><i
                            class="fab fa-github"></i></a></h3>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
    <script type="module" src="art.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazysizes@5.3.2/lazysizes.min.js"></script>
</body>

</html>